.App {
  text-align: center;
}

.bgimage
{
  background-image: url('hero-bg.jpg');
  background-position: right;
  background-size: cover;

}
.image1:hover{
  transform: scale(1.1,1.1) ;
  overflow: hidden;
  transition: 2s;
}
.image1:hover{
  overflow: hidden;
}

